.taskRow-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 40px;
    border-bottom:solid rgb(0, 0, 0) 1px;
    background-color:  rgb(137, 137, 137);
    margin-bottom: 4px;
}

.taskRow-container-text{
    background-color:  rgb(137, 137, 137);
    padding-left: 3px;
    font-size: 17px;
}

.taskRow-container-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 12%;
}